<h1>Teachers</h1>
<table *ngIf="teachers" class="table table-striped">
  <thead>
    <tr>
      <td>First Name</td>
      <td>Middle Name</td>
      <td>Last Name</td>
      <td>Department</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of teachers">
        <td>{{t.firstname}}</td>
        <td>{{t.middlename}}</td>
        <td>{{t.lastname}}</td>
        <td>{{t?.department}}</td>
    </tr>
  </tbody>
</table>
